div {
	box-sizing: border-box;
}

.box-container{
	display: flex;
}
.box{
	width: 250px;
	height: 250px;
	font-size: 32px;
	
	border: 1px solid black;
}
.box span{
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
.box p{
	margin: 5px;
}

@media screen and (max-width: 768px){
	.box-container{
		flex-wrap:wrap;
	}
	.box{
		flex: 0 50%;
	}
}
@media screen and (max-width: 568px){
	.box-container{
		flex-direction: column;
	}
}