@import "init.scss";

.hr-headline{
	background-color: $dark-color;
	width: 100%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
}
.summary{
	width: 95%;
	margin: 30px auto;
	border: 1px solid $bright-color;
	border-radius: 4px;
}