@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&Roboto:wght@500;700;900&display=swap');

$bright-color: #F9F7E8;
$dark-color: #393e46;
$font-color: #222831;