<h2 class="box-content">
	로그인 창
</h2>
<% if (message != "") { %>
	<div class="box-content">
		<%= message %>
	</div>
<% } %>

<div class="container-form">
	<form action="/user/login" method="POST">
		<table class="table-form">
			<tr>
				<td>
					<label> id </label>
				</td>
				<td> : </td>
				<td>
					<input type="text" name="id" tabindex="1"/>
				</td>
				<td rowspan="2">
					<button type="submit" class="btn" tabindex="3"> 로그인 </button>	
				</td>
			</tr>
			<tr>
				<td>
					<label> password </label>
				</td>
				<td> : </td>
				<td>
					<input type="password" name="password" tabindex="2" />
				</td>
			</tr>
		</table>
	</form>
</div>

<button onClick="location.href='signup'" class="btn">
	회원가입 하기
</button>
<button onClick="location.href='/user'" class="btn">
	뒤로가기
</button>