<h2 class="box-content">
	nodejs 연습
</h2>
<div style="margin: 40px auto; padding: 30px; border: 3px solid gray; border-radius: 5px;">
	<% if (isAuthenticated) { %>
		환영합니다. <%= currentUser.name %>님.
	<% } else { %>
	<form action="/user/login" method="POST">
		<table class="table-form">
			<tr>
				<td>
					<label> id </label>
				</td>
				<td> : </td>
				<td>
					<input type="text" name="id" tabindex="1"/>
				</td>
				<td rowspan="2">
					<button type="submit" class="btn" tabindex="3"> 로그인 </button>	
				</td>
			</tr>
			<tr>
				<td>
					<label> password </label>
				</td>
				<td> : </td>
				<td>
					<input type="password" name="password" tabindex="2" />
				</td>
			</tr>
		</table>
	</form>
	<% } %>
</div>