<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Study Web Server</title>
	</head>
	<body>
		<h3>
			잘못된 경로로 들어왔습니다.
		</h3>
		<button onClick="location.href='/'">
			홈페이지로 가기
		</button>
	</body>
</html>