<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Study Web Server</title>
	</head>
	<body>
		<div>
			<h2>
				DB list
			</h2>
			
			<ul>
			<% for(let i = 0; i < posts.length; i++){ %>
				<li> <%= posts[i].name %> : <%= posts[i].age %> </li>
			<% } %>
			</ul>
		</div>
	</body>
</html>