<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Study Web Server</title>
	</head>
	<body>
		<div> 
			<h2>
				DB list
			</h2>
			
			<ul>
			<% for(let i = 0; i < posts.length; i++){ %>
				<li> <span> <%= posts[i].name %> : {age : <%= posts[i].age %>, _id : <%= posts[i]._id %> } </span>  
					<button class="btn-delete-post" data-id="<%= posts[i]._id %>"> 글 삭제 </button> </li>
			<% } %>
			</ul>
			
			<button onclick="history.back()">Back</button>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		
		<script>
			
			$('.btn-delete-post').click((e) => {
				let postId = e.target.dataset.id;
				
				$.ajax({
					method: 'DELETE',
					url: '/post/delete',
					data: {_id: postId}
				}).done((result) => {
					$(e.currentTarget).parent('li').fadeOut();
				});
			});
		</script>
	</body>
</html>