html, body{
	width: 100%;
	height: 100%;
}
html, body, div, input, p, button, a, li, ol, table, tr, td {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
button {
	width: 100px;
	height: 35px;
	border-radius: 5px;
}


/* header 영역 css */
.header-container{
	width: 100%;
	margin: 0;
	padding: 0;
}
.header-title{
	text-align: center;
	border: 3px solid gray;
	border-radius: 10px;
	padding: 20px;
	margin: 0;
}
.header-container-navbar{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-bottom: 3px solid skyblue;
}
.btn-nav{
	width: 30%;
}

/* footer 영역 */
.footer-container{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-top: 3px solid gray;
	background-color: whitesmoke;
	text-align: center;
	
	height: 100px;
}

/* section(공용) 영역 */
.section-container{
	margin: 50px auto; 
	width: 1400px;
}
.box-content{
	text-align: center;
	border: 3px solid gray;
	border-radius: 10px;
	padding: 20px;
}
.container-content{
	width: 100%;
	display: grid;
	
	grid-template-columns: 1fr 4fr;
}
.container-profile{
	margin: 20px auto;
	width: 80%;
	box-sizing: border-box;
	padding: 30px; 
	border: 3px solid gray; 
	border-radius: 5px;
	text-align: center;
}

/* form 양식 컨테이너 */
.container-form{
	width: 100%;
	border-radius: 10px;
	border: 3px solid gray;
	box-sizing: border-box;
	margin: 30px 0px;
}

/* form 양식 내부 테이블 */
.table-form{
	border-spacing: 30px 5px;
	margin: 10px auto;
	padding: 20px;
}

a:link { 
	color: black; text-decoration: none;
}
a:visited { 
	color: black; text-decoration: none;
}
a:hover { 
	color: black; text-decoration: none;
}