<a href="/"><h1 class="header-title">
	NodeJs 연습하는 사이트~ 
</h1></a>
<div class="header-container-navbar">
	<button class="btn btn-nav" onClick="location.href='/post'" > 게시판 </button>
	<button class="btn btn-nav" onClick="location.href='/user'" > 사용자 </button>
	<button class="btn btn-nav"> nav 영역 </button>
</div>