<h2 class="box-content">
	정보 수정
</h2>

<div class="container-form">
	<form action="/user/edit?_method=PUT" method="POST">
		<table class="table-form">
			<tr>
				<td>
					<label> 이름 </label>
				</td>
				<td> : </td>
				<td>
					<input type="text" name="name" value="<%= currentUser.name %>" />
				</td>
			</tr>
			<tr>
				<td>
					<label> 이메일 </label>
				</td>
				<td> : </td>
				<td>
					<input type="email" name="email" value="<%= currentUser.email %>" />
				</td>
			</tr>
		</table>
		<button class="btn"> 수정하기 </button>
	</form>
</div>

<button onClick="location.href='/user'" class="btn">
	뒤로가기
</button>