<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Study Web Server</title>
	</head>
	<body>
		<div style="margin: 100px auto; width: 500px;">
			<h3>
				로그인 창
			</h3>
			<% if (error) { %>
				<%= error %>
			<% } %>
			<form action="/user/login" method="POST">
				<div style="display: flex">
					<table style="margin-right: 20px">
						<tr>
							<td>
								<label> id </label>
								
							</td>
							<td> : </td>
							<td>
								<input type="text" name="id"/>
							</td>
						</tr>
						<tr>
							<td>
								<label> password </label>
							</td>
							<td> : </td>
							<td>
								<input type="password" name="password" />
							</td>
						</tr>
					</table>
					<button type="submit"> 로그인 </button>
				</div>
			</form>
			<button onClick="location.href='signup'">
				회원가입 하기
			</button>
			<button onClick="location.href='/user'">
				뒤로가기
			</button>
		</div>
	</body>
</html>