<h3 class="box-content">
	회원가입 창
</h3>
<form action="/user/signup" method="POST">
	<table>
		<tr>
			<td>
				<label> id </label>
			</td>
			<td> : </td>
			<td>
				<input type="text" name="id" />
			</td>
		</tr>
		<tr>
			<td>
				<label> password </label>
			</td>
			<td> : </td>
			<td>
				<input type="password" name="password" />
			</td>
		</tr>
		<tr>
			<td>
				<label> 이름 </label>
			</td>
			<td> : </td>
			<td>
				<input type="text" name="name"/>
			</td>
		</tr>
		<tr>
			<td>
				<label> 이메일 </label>
			</td>
			<td> : </td>
			<td>
				<input type="email" name="email" />
			</td>
		</tr>
		<tr>
			<td>
				<label> 유형 </label>
			</td>
			<td> : </td>
			<td>
				<select name="type">
					<option value="user" selected>유저</option>
					<option value="manager">매니저</option>
					<option value="admin">어드민</option>
				</select>
			</td>
		</tr>
	</table>
	<button type="submit" class="btn"> 회원가입 </button>
</form>
<button onClick="location.href='/user'" class="btn">
	뒤로가기
</button>