
.board-detail-container-meta{
	display: grid;
	
	grid-template-areas:
		"title title title title"
		"regid tag tag regdt";
	
	border: 3px solid gray;
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

.board-detail-post-title{
	text-align: center;
	grid-area: title;
	margin-top: 10px;
}
.board-detail-post-regid{
	grid-area: regid;
}
.board-detail-container-tag{
	grid-area: tag;
}
.board-detail-post-regdt{
	grid-area: regdt;
}

.board-detail-container-controller{
	display: flex; 
	justify-content: space-between;
	padding: 0px 10px;
}