.board-container-content{
	margin: 20px auto;
	width: 100%;
	padding: 0px;
}
.board-content-post{
	border: 2px solid black; 
	border-radius: 10px; 
	padding: 10px 20px;
	margin-bottom: 10px;
}
.board-container-tag{
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	align-items: center;
}
.board-container-tag > p{
	margin-right: 10px;
}
.board-container-tag > div{
	border: 2px solid black; 
	border-radius: 5px;
	padding: 2px 8px;
	margin-right: 10px;
}
