.App{
	width: 100%;
}

.container-navbar{
	background-color: #393e46;
}
.navbar-main{
	padding: 0px;
	
}

.nav-link{
	color: white;
	
	&:hover{
		color: white;
	}
}

.container-profile {
	width: 10%;
	position: fixed;
}

.container-main{
	margin-top: 30px;
}